<div class="container">
  <div class="">
    <div class="news-top">
      <%= cl_image_tag @news.photo.key %>
      <h1><%= @news.title_pt %></h1>
      <p id="timestamp"><%= @news.created_at.strftime("%d/%m/%Y")%> as <%= @news.created_at.hour %> horas </p> </p>
      <p id="author">Escrita por <%= @news.user.first_name %> <%= @news.user.last_name %> </p>
      <p><small>Tags: <%= raw @news.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small></p>
    </div>
    <div>
      <p><%= @news.content_pt %></p>
    </div>
  </div>
  <%= link_to "Voltar", news_pt_path, class: "btn btn-primary" %>

  <div class="update delete cont">
      <% if current_user.admin %>
        <%= link_to "Editar Notícia", edit_news_path(@news.id) , class: "btn btn-primary" %>
        <%= link_to "Deletar notícia",
            news_path(@news),
            method: :delete,
            data: { confirm: "Tem certeza que quer deletar a notícia?" },
            class: "btn btn-primary" %>
      <% end %>
  </div>
</div>